:root {
	--app-table-cell-width: 1rem;
    --app-table-padding: 0rem .125rem;
    --app-table-border-width: 0.1rem;
}

.app-table {
    background-color: transparent;
    backdrop-filter: contrast(80%);
    border: var(--app-border);
    box-shadow: var(--app-box-shadow);
}


/*
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
*/

table {
    border: none;
    border-collapse: collapse;
    color: inherit;
}

table td {
    border: var(--app-border);
    border-width: var(--app-table-border-width);
    padding: var(--app-table-padding);
    width: var(--app-table-cell-width);
}

table th {
    background-color: var(--tertiary);
    border: var(--app-border);
    border-width: var(--app-table-border-width);
    color: inherit;
}

table img {
    max-width: 100%;
}

