.carousel-ds-wrapper {
    position: relative;
}

.carousel-ds {
    position: relative;
    height: fit-content;
    overflow-x: clip;
}

.carousel-ds-item {
    background-color: lightskyblue;
    border: solid burlywood 0.5rem;
    position: absolute;
    padding: 2rem;
	border-radius: 12px;
    transition: all 0.5s ease;
}

.carousel-ds-item.active {
    top: -1.5rem;
    outline: red 1px solid;
}

.carousel-ds-nav {
    position: relative;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}
.carousel-ds-nav-btn {
    border: solid black 0.5rem;
    cursor: pointer;
}
