
/*
SIDEBAR SIDEBAR SIDEBAR SIDEBAR 
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
*/
:root {
    --sidebar-width: 200px;
}

.sidebar {
    display: none;
}

@media only screen and (min-width: 768px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        min-height: 100vh;
        width: var(--sidebar-width);
        background-color: var(--light-2);
    }
}