.bordered {
    border-radius: var(--app-border-radius);
    border: var(--app-border);
    border-color: var(--app-border-color);
}
.mx-auto {
    margin: 0 auto !important;
}

.p-0 {
	padding: 0 !important;
}

.bg-primary {
    background-color: var(--bg-primary) !important;
}

.bg-secondary {
    background-color: var(--bg-secondary) !important;
}

.bg-tertiary {
    background-color: var(--bg-tertiary) !important;
}

.color-primary {
    color: var(--color-primary) !important;
}

.color-secondary {
    color: var(--color-secondary) !important;
}

.color-tertiary {
    color: var(--color-tertiary) !important;
}

h1[class*=uppercase], 
h2[class*=uppercase], 
h3[class*=uppercase], 
h4[class*=uppercase], 
h5[class*=uppercase], 
h6[class*=uppercase], 
a[class*=uppercase], 
p[class*=uppercase], 
strong[class*=uppercase], 
b[class*=uppercase], 
span[class*=uppercase]
 {
    text-transform: uppercase;
}

.text-wrap {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}      

h1, [class*='h1'] {
    font-size: 6rem;
}

[class*='text-wrap'] [class*='split'] {
    display: flex;
    overflow: hidden;
    position: relative;
    line-height: 0.7;
    padding: 0;
    margin: 0;
}

[class*='text-wrap'] [class*='split'] [class*='line'], [class*='line'] {
    display: inline-block;
    position: relative;
    font-size: inherit;
    padding-top: 0.25rem;
    transform-origin: 0 50%;
    white-space: nowrap;
    will-change: transform;
    transform: translateY(100%) rotate(30deg);
    transition: transform 0.4s ease;
}

[class*='text-wrap'] [class*='split'] [class*='line'].active, [class*='line'].active {
    transform: translateY(5%) rotate(0deg);
}

[class*='text-wrap'] [class*='split'] [class*='linesymbol']::after {
    content: "{}";
    font-size: 2.5rem;
    position: absolute;
    right: -2rem;
    left: auto;
    top: auto;
    bottom: 4rem;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-delay: 3s;
    animation-iteration-count: 2;
}

[class*='line'].wrap {
    white-space: wrap;
}


h1,[class*=h1] {
    font-size: 7.25rem
}

@media screen and (min-width: 768px) {
    h1,[class*=h1] {
        font-size:8.25rem
    }
}

@media screen and (min-width: 1024px) {
    h1,[class*=h1] {
        font-size:10.75rem
    }
}

h2,[class*=h2] {
    font-size: 5rem
}

@media screen and (min-width: 768px) {
    h2,[class*=h2] {
        font-size:6.25rem
    }
}

@media screen and (min-width: 1024px) {
    h2,[class*=h2] {
        font-size:8.25rem
    }
}

h3,[class*=h3] {
    font-size: 3rem
}

@media screen and (min-width: 768px) {
    h3,[class*=h3] {
        font-size:6.25rem
    }
}

@media screen and (min-width: 1024px) {
    h3,[class*=h3] {
        font-size:8.75rem
    }
}

h4,[class*=h4] {
    font-size: 2rem
}

@media screen and (min-width: 768px) {
    h4,[class*=h4] {
        font-size:4.25rem
    }
}

@media screen and (min-width: 1024px) {
    h4,[class*=h4] {
        font-size:6.75rem
    }
}

h5,[class*=h5] {
    font-size: 1.55rem
}

@media screen and (min-width: 768px) {
    h5,[class*=h5] {
        font-size:2.5rem
    }
}

@media screen and (min-width: 1024px) {
    h5,[class*=h5] {
        font-size:3.5rem
    }
}

h6,[class*=h6] {
    font-size: 1rem
}

@media screen and (min-width: 768px) {
    h6,[class*=h6] {
        font-size:1.25rem
    }
}

@media screen and (min-width: 1024px) {
    h6,[class*=h6] {
        font-size:1.75rem
    }
}

.pl-3 {
    padding-left: 3.5rem;
}

.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.bold {
    font-weight: 600;
}

