/*
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
*/
:root {
    --container-pad: 3.75rem;
    --container-ms: 0.5rem;
    --container-me: 0.5rem;
    --section-padding-top: 5.55rem;
    --app-gap: 0.5rem;
    --app-border: solid 0.35rem;
    --app-border-radius: 0.5rem;
    --dark: rgb(15, 30, 30);
    --dark-2: rgb(30, 50, 50);
    --dark-3: rgb(30, 79, 79);
    --light: rgb(255, 255, 255);
    --light-2: rgb(225, 225, 225);
    --light-3: rgb(200, 200, 200);
    --app-border-dark: var(--primary);
    --app-border-light: var(--tertiary);
    --primary: rgb(255 232 31);
    --secondary: rgb(124, 197, 124);
    --tertiary: rgb(46 85 124);
    --primary-rgb: 255, 232, 31;
    --secondary-rgb: 124, 197, 124;
    --tertiary-rgb: 46, 85, 124;
    --app-table-cell-width: 3rem;
    --app-table-padding: 0rem .75rem;
    --app-table-border-width: 0.125rem;
    --bg-section-primary: var(--light);
    --bg-section-secondary: var(--light-2);
    --bg-section-tertiary: var(--light-3);
    --bg-primary-dark: var(--dark);
    --bg-secondary-dark: var(--dark-2);
    --bg-tertiary-dark: var(--dark-3);
    --app-color-transition: 0.4s ease;
    --link-padding: 0.15rem 0.5rem;
    --app-box-shadow: rgba(0, 0, 0, 0.63) 0px 3px 8px;
}  

/*
Source - https://stackoverflow.com/a/35256494
Posted by JamieC, modified by community. See post 'Timeline' for change history
Retrieved 2026-04-23, License - CC BY-SA 4.0
*/

html {
  box-sizing: border-box;
  /* 62.5% of 16px user agent font size is 10px */
  font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) transparent;
}


body {
    background-color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
}
body.dark-theme, body[data-theme="dark"] {
    background-color: var(--dark);
    color: var(--light);
    --bg-section-primary: var(--dark);
    --bg-section-secondary: var(--dark-2);
    --bg-section-tertiary: var(--dark-3);
    --color-primary: var(--light);
    --color-secondary: var(--light-2);
    --color-tertiary: var(--light-3);
}
.container {
    max-width: 100%;
    padding: var(--container-pad);
    margin-left: var(--container-ms);
    margin-right: var(--container-me)
}
.container.box {
    width: 320px;
}
div#page-wrapper {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    overflow: hidden;
}

.avatar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: fit-content;
}

.avatar img {
    border-radius: 100%;
    display: block;
    max-width: 1.5rem;
    max-height: 1.5rem;
}

button .app-svg {
    display: block;
    width: 100%;
    max-width: 1.75rem;
    fill: transparent;
    transition: all 0.4s ease;
}

button .app-svg {
    stroke: var(--light);
    stroke-width: 0.2rem;
    stroke-linecap: round;
}

button:hover .app-svg {
    stroke: var(--primary);
    fill: var(--secondary);
}

button:hover .app-svg {
    stroke: var(--primary);
}

@media screen  and (min-width: 400px) {
    div#page-wrapper {
        display: flex;
    }
}




section:not(.hero-section) {
    position: relative;
    padding-top: var(--section-padding-top);
    max-width: 100%;
}
section.bg-section-primary {
    background-color: var(--bg-section-primary);
}
section.bg-section-secondary {
    background-color: var(--bg-section-secondary);
}
section.bg-section-tertiary {
    background-color: var(--bg-section-tertiary);
}
.d-flex-resp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.d-flex-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--app-gap);
}

@media only screen and (min-width: 576px) {
    .d-flex-resp {
        flex-direction: row;
    }
    .container.box {
        width: 550px;
    }
}
@media only screen and (min-width: 768px) {
    .container.box {
        width: 760px;
    }
}

@media only screen and (min-width: 1024px) {
    .container.box {
        width: 960px;
    }
}
/* .container:hover {
    scale: 1.2;
    cursor: pointer;
} */


/*
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
*/

table {
    border: none;
    border-collapse: collapse;
    color: inherit;
}

table td {
    border: var(--app-border);
    border-width: var(--app-table-border-width);
    padding: var(--app-table-padding);
    width: var(--app-table-cell-width);
}

table th {
    background-color: var(--primary);
    border: var(--app-border);
    border-width: var(--app-table-border-width);
    color: inherit;
}

table img {
    max-width: 100%;
}

