
/*
SIDEBAR SIDEBAR SIDEBAR SIDEBAR 
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
*/
.sidebar {
    display: none;
}

@media only screen and (min-width: 756px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        min-height: 100vh;
        width: var(--sidebar-width);
        background-color: var(--light-2);
        flex-grow: 0;
        flex-shrink: 1;
        opacity: 1ñ
    }
}