/*
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
ROOT ROOT ROOT ROOT ROOT
*/
:root {
    --container-pad: 0.75rem;
    --container-ms: 0.5rem;
    --container-me: 0.5rem;
    --app-border: solid 0.35rem;
    --app-border-radius: 0.5rem;
    --dark: darkslategray;
    --light: whitesmoke;
    --app-border-dark: teal;
    --app-border-light: teal;
    --primary: teal;
    --app-header-width: 100vw;
    --app-header-height: 3.25rem;
    --app-header-padding: 0.25rem 1rem;
    --app-header-bg: red;
    --app-table-cell-width: 3rem;
    --app-table-padding: 0rem .75rem;
    --app-table-border-width: 0.125rem;
    --bg-primary: lightpink;
    --bg-secondary: lightblue;
    --bg-tertiary: lightgray;
}   
body {
    background-color: var(--light);
    font-family: sans-serif;
    color: var(--dark);
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body.dark-theme {
    background-color: var(--dark);
    color: var(--light);
}
.container {
    padding: var(--container-pad);
    margin-left: var(--container-ms);
    margin-right: var(--container-me)
}
/* div#page-wrapper {
    display: flex;
    flex-direction: column;
}

@media screen  and (min-width:676px) {
    div#page-wrapper {
        flex-direction: row;
    }
} */


/*
SIDEBAR SIDEBAR SIDEBAR SIDEBAR 
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
SIDEBAR SIDEBAR SIDEBAR SIDEBAR
*/
.sidebar {
    display: block;
    height: 100vh;
    min-height: 100vh;
    width: 250px;
    background-color: pink;
    flex-grow: 2;
    flex-basis: 50%;
    flex-shrink: 0;
}


/*
HEADER HEADER HEADER HEADER 
HEADER HEADER HEADER HEADER
HEADER HEADER HEADER HEADER
HEADER HEADER HEADER HEADER
HEADER HEADER HEADER HEADER
HEADER HEADER HEADER HEADER
HEADER HEADER HEADER HEADER
*/
.header nav {
    display: flex;
    width: 100%;
}

.header {
    width: var(--app-header-width);
    height: var(--app-header-height);
    padding: var(--app-header-padding);
    position: sticky;
    transition: transform 0.4s ease;
    backdrop-filter: blur(2px);
    background-color: var(--app-header-bg);
    z-index: 1000;
}

section {
    position: relative;
    border-top: 1rem solid red;
}
section.bg-primary {
    background-color: var(--bg-primary);
}
section.bg-secondary {
    background-color: var(--bg-secondary);
}
section.bg-tertiary {
    background-color: var(--bg-tertiary);
}
.d-flex-resp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.bordered {
    border-radius: var(--app-border-radius);
    border: var(--app-border);
    border-color: var(--app-border-color);
    flex-basis: 50%;
}
@media only screen and (min-width: 576px) {
    .d-flex-resp {
        flex-direction: row;
    }
}
/* .container:hover {
    scale: 1.2;
    cursor: pointer;
} */

/*
BUTTON BUTTON BUTTON BUTTON 
BUTTON BUTTON BUTTON BUTTON
BUTTON BUTTON BUTTON BUTTON
BUTTON BUTTON BUTTON BUTTON
BUTTON BUTTON BUTTON BUTTON
BUTTON BUTTON BUTTON BUTTON
BUTTON BUTTON BUTTON BUTTON
*/

button {
padding: 10px;
border: none;
background-color: navajowhite;
color: darkslategrey;
transition: all 0.4s ease;
}
button:hover {
    box-shadow: 0 5px 5px 5px black;
    cursor: pointer;
    color: brown;
    background-color: burlywood;
}

/*
IMAGES IMAGES IMAGES IMAGES
IMAGES IMAGES IMAGES IMAGES
IMAGES IMAGES IMAGES IMAGES
IMAGES IMAGES IMAGES IMAGES
IMAGES IMAGES IMAGES IMAGES
*/
.img-wrapper {
    max-width: 80%;
}
.img-wrapper img {
    max-width: 100%;
    width: 100%;
}
.img-block {
    display: block;
    max-width: 80%;
}
.img#samerica {
    width: 860px;
    height: 1200px;
}

/*
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
TABLES TABLES TABLES TABLES
*/

table {
    border: none;
    border-collapse: collapse;
    color: inherit;
}

table td {
    border: var(--app-border);
    border-width: var(--app-table-border-width);
    padding: var(--app-table-padding);
    width: var(--app-table-cell-width);
}

table th {
    background-color: var(--primary);
    border: var(--app-border);
    border-width: var(--app-table-border-width);
    color: inherit;
}

table img {
    max-width: 100%;
}

/*
VIDEO VIDEO VIDEO VIDEO
VIDEO VIDEO VIDEO VIDEO
VIDEO VIDEO VIDEO VIDEO
VIDEO VIDEO VIDEO VIDEO
VIDEO VIDEO VIDEO VIDEO
*/

.app-video {
    background-color: red;
    max-width: 80%;
    margin: 0 auto;
    display: block;
    border: var(--app-border);
    padding: var(--app-table-padding);
}

.app-video-player {

}